<div class="owl-carousel owl-theme banner">
  <div class="item">
    <div class="caption">
        <h2>digital experiences</h2>
        <label for="">That build motivation</label>
    </div>
    <div class="slide">
      <img src="src/img/bann.jpg" alt="">
    </div>
  </div>
  <div class="item">
    <div class="caption">
        <h2>digital experiences</h2>
        <label for="">That build motivation</label>
    </div>
    <div class="slide">
      <img src="src/img/bann.jpg" alt="">
    </div>
  </div>
</div>
