<header class="cd-main-header">
  <a class="logo" href="#0"><img src="src/img/logocly.png" alt="Logo"></a>

  <ul class="cd-header-buttons">
    <li><a class="cd-search-trigger" href="#cd-search">Search<span></span></a></li>
    <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
  </ul>
</header>
<nav class="cd-nav menuP">
  <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
    <li>
      <a href="#">home</a>
    </li>
    <li class="has-children">
      <a href="">pages</a>
      <ul class="cd-secondary-nav is-hidden">
					<li class="go-back"><a href="#0">Menu</a></li>
					<li class="has-children">
						<a href="">Home</a>

						<ul class="is-hidden">
              <li class="go-back"><a href="#0">Menu</a></li>
							<li class="has-children">
								<a href="#0">home corporate</a>

								<ul class="is-hidden">
									<li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
							<li class="has-children">
								<a href="#0">home portafolio</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">home blog</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">home shop</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">home fullscreen</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
							<li><a href="">home parallax</a></li>
              <li class="has-children">
								<a href="#0">one page</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li><a href="">home app showcase</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="">About and services</a>

						<ul class="is-hidden">
							<li><a href="#0">about layout 1</a></li>
							<li><a href="#0">about layout 2</a></li>
              <li><a href="#0">about me</a></li>
							<li><a href="#0">services layout 1</a></li>
              <li><a href="#0">services layout 1</a></li>
							<li><a href="#0">meet the team</a></li>
              <li><a href="#0">our office</a></li>
							<li><a href="#0">faq</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="">blog</a>

						<ul class="is-hidden">
              <li class="has-children">
								<a href="#0">grid layouts</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">large image layouts</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
							<li><a href="">image post</a></li>
							<li><a href="">Bslider post</a></li>
							<li><a href="">video post</a></li>
							<li><a href="">audio post</a></li>
							<li><a href="">Link post</a></li>
							<li><a href="">quote post</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="">portfolio</a>

            <ul class="is-hidden">
              <li class="has-children">
								<a href="#0">grid layouts</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">masonry layouts</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">ajax porfolio</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
							<li><a href="">slider project</a></li>
							<li><a href="">video project</a></li>
							<li><a href="">gallery project</a></li>
							<li><a href="">parallax project</a></li>
							<li><a href="">fullscreen project</a></li>
						</ul>
					</li>
				</ul>

    </li>
    <li class="has-children">
      <a href="">shop</a>
      <ul class="cd-secondary-nav is-hidden">
					<li class="go-back"><a href="#0">Menu</a></li>
					<li class="has-children">
						<a href="">Home</a>

						<ul class="is-hidden">
              <li class="go-back"><a href="#0">Menu</a></li>
							<li class="has-children">
								<a href="#0">home corporate</a>

								<ul class="is-hidden">
									<li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">home shop</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">home fullscreen</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
							<li><a href="">home parallax</a></li>
              <li><a href="">home app showcase</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="">About and services</a>

						<ul class="is-hidden">
							<li><a href="#0">about layout 1</a></li>
							<li><a href="#0">about layout 2</a></li>
              <li><a href="#0">about me</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="">blog</a>

						<ul class="is-hidden">
              <li class="has-children">
								<a href="#0">grid layouts</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">large image layouts</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="has-children">
						<a href="">portfolio</a>

            <ul class="is-hidden">
              <li class="has-children">
								<a href="#0">grid layouts</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
              <li class="has-children">
								<a href="#0">ajax porfolio</a>

								<ul class="is-hidden">
                  <li class="go-back"><a href="#0">home portafolio</a></li>
									<li><a href="">item</a></li>
								</ul>
							</li>
							<li><a href="">slider project</a></li>
							<li><a href="">fullscreen project</a></li>
						</ul>
					</li>
				</ul>

    </li>
    <li>
      <a href="#">shortcodes</a>
    </li>
    <li>
      <a href="#">contact</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-shopping-cart"></i> cart</a>
    </li>
  </ul>
</nav>
<div id="cd-search" class="cd-search">
  <form>
    <input type="search" placeholder="Search...">
  </form>
</div>
