<div class="interes">
  <div class="cont">
    <div class="img">
      <img src="src/img/cel.png" alt="">
    </div>
    <div class="info">
      <h2>POINTS OF INTEREST</h2>
      <label for="">USE THIS TO <span class="high">HIGHLIGHT THE POINTS OF INTEREST</span> OF YOUR PRODUCTS. JUST A CLICK TO OPEN A BRIEF DESCRIPTION OF EACH POINT.</label>
      <ul class="itemsOp">
        <li class="item">
          <ul>
            <li class="left">
              <div class="icono">
                  <i class="fas fa-mobile-alt"></i>
              </div>
            </li>
            <li class="right">
              <div class="info">
                <h2>100% RESPONSIVE</h2>
                <p>
                  A small river named Duden flows by their place and supplies it with the necessary regelialia.
                </p>
              </div>
            </li>
          </ul>
        </li>
        <li class="item">
          <ul>
            <li class="left">
              <div class="icono">
                <i class="fas fa-eye"></i>
              </div>
            </li>
            <li class="right">
              <div class="info">
                <h2>RETINA READY</h2>
                <p>
                  A small river named Duden flows by their place and supplies it with the necessary regelialia.
                </p>
              </div>
            </li>
          </ul>
        </li>
        <li class="item">
          <ul>
            <li class="left">
              <div class="icono">
                <i class="fas fa-code"></i>
              </div>
            </li>
            <li class="right">
              <div class="info">
                <h2>INTERACTIVE ELEMENTS</h2>
                <p>
                  A small river named Duden flows by their place and supplies it with the necessary regelialia.
                </p>
              </div>
            </li>
          </ul>
        </li>
        <li class="item">
          <ul>
            <li class="left">
              <div class="icono">
                <i class="fas fa-code"></i>
              </div>
            </li>
            <li class="right">
              <div class="info">
                <h2>UNLIMITED OPTIONS</h2>
                <p>
                  A small river named Duden flows by their place and supplies it with the necessary regelialia.
                </p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
