<div class="marcas">
  <div class="cont">
    <div class="owl-carousel owl-theme slider">
      <div class="item">
        <div class="slide">
          <img src="src/img/1.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="slide">
          <img src="src/img/2.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="slide">
          <img src="src/img/3.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="slide">
          <img src="src/img/4.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
